.suggestion {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &____account {
  }
  &__button {
    display: flex;
    width: 70px;
    text-align: center;
  }
}
