<div class="other">
  <app-other-header class="other__header"></app-other-header>
  <app-suggestions class="other__suggestions"></app-suggestions>
  <div class="other__activity">
    <h4 class="activity__header">Latest Post Activity</h4>
    <app-post-activity class="activity__body"></app-post-activity>
  </div>
  <ul class="other__footer">
    <li><a routerLink="/about">About</a></li>•
    <li><a routerLink="/help">Help</a></li>•
    <li><a routerLink="/terms">Terms</a></li>•
    <li><a routerLink="/popular">Popular</a></li>•
    <li><a routerLink="/language">Language</a></li>
  </ul>
</div>
