$primary-color: #a974ff;
$heart-color: #FF5775;
$blue-color: #58B9FF;
$inactive-color: #A4B6E1;
$text-color: #25396F;
$background-color: #F8FAFF;
$lightblue-color: #f6faff;
$separator-color-1: #dfeeff;
