<div class="activity">
  <div class="activity__body">
    <div class="activity__img"></div>
    <div class="activity__content">
      <h5 class="activity__title">Minimalist Stairs</h5>
      <div class="activity__interactions">
        <div class="activity__interaction">
          <i class="interaction__icon fa fa-heart" aria-hidden="true"></i>
          <p class="interaction__number">0</p>
        </div>

        <div class="activity__interaction">
          <i class="interaction__icon fa fa-commenting" aria-hidden="true"></i>
          <p class="interaction__number">0</p>
        </div>

        <div class="activity__interaction">
          <i class="interaction__icon fa fa-bookmark" aria-hidden="true"></i>
          <p class="interaction__number">0</p>
        </div>
      </div>
    </div>
  </div>
  <a class="activity__all" routerLink="">See All Posts</a>
</div>
